BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
BreakBeforeBinaryOperators: None
BinPackParameters: false
BinPackArguments: false
BreakBeforeBraces: Attach
PointerAlignment: Left
DerivePointerAlignment: false
InsertBraces: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: CaseSensitive
